<!-- html template for the about page -->

{% extends "layout.html" %}
{% block content %}
    <center><u><h1>About Us</h1></u></center>
    <center><p style="font-size: 24px">Studeez is a non-profit organisation designed to primarily help secondary and tertiary students with their studies. 
        Studeez allows you to share and view knowledge with other students, whether it be various calculus equations, or the biology notes on mitochondria. 
        It is up to you to decide.</p></center>
        <center><img src="static/images/studeez.png" alt="Mr. West" height="400"></center>
{% endblock content %}